.footer {
    /* height: 50px; */
    padding: 30px;
    /* bottom: 0; */
    background-color: #183f99;
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    /* flex: 0 0 auto; */
}
